In [1]:
# Q2
Interest_Rate = [2.75,2.5,2.5,2.5,2.5,2.5,2.5,2.25,2.25,2.25,2,2,2,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75]
Unemployment_Rate = [5.3,5.3,5.3,5.3,5.4,5.6,5.5,5.5,5.5,5.6,5.7,5.9,6,5.9,5.8,6.1,6.2,6.1,6.1,6.1,5.9,6.2,6.2,6.1]
Stock_Index_Price = [1464,1394,1357,1293,1256,1254,1234,1195,1159,1167,1130,1075,1047,965,943,958,971,949,884,866,876,822,704,719]
dict1 = {'Interest_Rate':Interest_Rate,'Unemployment_Rate':Unemployment_Rate,'Stock_Index_Price':Stock_Index_Price}

In [2]:
import pandas as pd
df = pd.DataFrame(dict1)
df

    Interest_Rate  Unemployment_Rate  Stock_Index_Price
0            2.75                5.3               1464
1            2.50                5.3               1394
2            2.50                5.3               1357
3            2.50                5.3               1293
4            2.50                5.4               1256
5            2.50                5.6               1254
6            2.50                5.5               1234
7            2.25                5.5               1195
8            2.25                5.5               1159
9            2.25                5.6               1167
10           2.00                5.7               1130
11           2.00                5.9               1075
12           2.00                6.0               1047
13           1.75                5.9                965
14           1.75                5.8                943
15           1.75                6.1                958
16           1.75                6.2                971
17           1.75                6.1                949
18           1.75                6.1                884
19           1.75                6.1                866
20           1.75                5.9                876
21           1.75                6.2                822
22           1.75                6.2                704
23           1.75                6.1                719

In [3]:
x = df.iloc[:,0:2]
x

    Interest_Rate  Unemployment_Rate
0            2.75                5.3
1            2.50                5.3
2            2.50                5.3
3            2.50                5.3
4            2.50                5.4
5            2.50                5.6
6            2.50                5.5
7            2.25                5.5
8            2.25                5.5
9            2.25                5.6
10           2.00                5.7
11           2.00                5.9
12           2.00                6.0
13           1.75                5.9
14           1.75                5.8
15           1.75                6.1
16           1.75                6.2
17           1.75                6.1
18           1.75                6.1
19           1.75                6.1
20           1.75                5.9
21           1.75                6.2
22           1.75                6.2
23           1.75                6.1

In [4]:
y = df.iloc[:,2:3]
y

    Stock_Index_Price
0                1464
1                1394
2                1357
3                1293
4                1256
5                1254
6                1234
7                1195
8                1159
9                1167
10               1130
11               1075
12               1047
13                965
14                943
15                958
16                971
17                949
18                884
19                866
20                876
21                822
22                704
23                719

In [5]:
import plotly.express as px
plot_fig = px.scatter_3d(df, x='Interest_Rate', y='Unemployment_Rate', z='Stock_Index_Price')
plot_fig.show()

In [6]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
y_predict =  lr.predict([[1.5,5.8]])
y_predict

array([[865.8639942]])